html {
    background-color: black;
}

body {
    max-width: 100%;
    width: 70rem;
    margin: 2ex auto;
    box-sizing: border-box;
    padding: 1ex;
    font-size: 100%;
    line-height: 1.6;
}
h3, h4 {
    margin: 0;
    padding: 0;
}

form {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1em;
}

summary {
    padding: 0.75rem;
    background-color: #333;
    cursor: pointer;
    user-select: none;
    border-radius: 1ex;
}

.grid-section {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
    align-items: first baseline;
}

.detail-container {
    padding: 0.75rem;
    border: 0.1rem dashed #333;
    border-top: none;
    border-radius: 0 0 1ex 1ex;
    background-color: #111;
}

.row {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.row input[type="text"], .row select {
    flex-grow: 1;
}

.hinted {
    display: flex;
    flex-direction: column;
}

.hinted small {
    color: #ccc;
    font-style: italic;
}

.radio-group {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.radio-group label {
    display: flex;
    flex-grow: 1;
    gap: 0.25rem;
    align-items: last baseline;
    place-items: flex-start stretch;
    width: auto;
    cursor: pointer;
}

.customCoverHint {
    grid-column: 2;
}

.grid-section label:has(> input[type=checkbox]) {
    grid-column: span 2;
}