html {
    font-family: sans-serif;
    background-color: #222;
    color: #eee;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    min-height: 100%;
}

.embed {
    max-width: 100%;
    margin: 2ex auto;
    box-sizing: border-box;
    padding: 1ex;
    border-radius: 0.5ex;
    background-color: #111;
    box-shadow: 0 0.5ex 1ex rgba(0, 0, 0, 0.9);
    font-size: 100%;
    line-height: 1.6;
    display: grid;
    grid-template-areas: "type" "credit" "title" "description" "image";
    border-left: 0.5ex solid #f8ae2c;
    width: 50ex;
}
.embed.profile {
    grid-template-areas: "title title image" "description description description";
}

img {
    max-width: 100%;
    grid-area: image;
}
.embed.profile img {
    height: 3em;
    border-radius: 1em;
    place-self: center;
    justify-self: end;
}

.embed h6 {
    grid-area: type;
    margin: 0 0 1ex 0;
    padding: 0;
    font-weight: unset;
    color: #ccc;
}

.embed h5 {
    grid-area: credit;
    margin: 0 0 1ex 0;
    padding: 0;
}

.embed h2 {
    grid-area: title;
    place-self: center;
    justify-self: start;
    margin: 0;
    padding: 0;
    font-size: unset;
    color: cornflowerblue;
}


.embed p {
    grid-area: description;
    font-size: smaller;
}
a {
    text-decoration: none;
    color: #f8ae2c;
}
.embed a {
    color: unset;
}
a:hover {
    text-decoration: underline;
}
